{% extends 'twig/base.html.twig' %}

{% block title %}Place order{% endblock %}

{% block body %}
    <h1>Place an order</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
