###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

node_modules
yarn-error.log
package-lock.json
###< symfony/framework-bundle ###

###> system and IDE specific files and folders ###
.idea
.DS_Store
###< system and IDE specific files and folders ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/coverage/
###< phpunit/phpunit ###

###> docker files ###
docker-compose.override.yaml
###< docker files ###

###> ssl certificates for docker ###
.docker/php/certs/*.crt
.docker/php/certs/*.pem
###< ssl certificates for docker ###

